@import 'nib'

// Vendor prefix polyfill

// Filter Effects Module Level 1
// http://www.w3.org/TR/filter-effects-1/

filter()
  -webkit-filter arguments
  filter arguments

color-interpolation-filters()
  -webkit-color-interpolation-filters arguments
  color-interpolation-filters arguments
