@import 'nib'
@import './_mixin'

// Transitions

.fade
  transition-delay 0
  transition-duration 1s
  transition-property opacity
  transition-timing-function ease

  &--in
    opacity 1

  &--out
    opacity 0

.position
  transition-delay 0
  transition-duration 1s
  transition-property top,left,margin,width
  transition-timing-function ease
